{
  "algod-api": {
    "address": "http://192.168.1.210:8181",
    "token": ".."
  },
  "pkeys": {
    "SPAM": "25 word mnemonic"
  },  
  "spam": {
    "threads": 10,  
    "rate": 1500,
    "flatfee": 2000
  },
  "singletons": {
    "spam": true
  },
  "monitored": {
		"address": "YOUR_MONITORED_ADDRESS",
		"spam-threshold": 100000,
		"stop-spam-threshold": 1000000
	}
} 